################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/A1.BankingApp/v16/Server/sqlite3
/src/obj
/.vs
/src/bin/Debug/netstandard2.0
/test/A.BankingApp.Functional.Test/obj
/test/A.BankingApp.Functional.Test/bin/Debug/netcoreapp3.1
